@model List<Order>
@{ int i = 0;}
<table class="table table-striped table-light">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Email</th>
            <th scope="col">Manage</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model) {
            i += 1;
            <tr>
                <th scope="row">@i</th>
                <td>@order.FirstName</td>
                <td>@order.DateTime.ToString(new CultureInfo("en-GB"))</td>
                <td>@order.Email</td>
                <td><a asp-area="Panel" asp-controller="Orders" asp-action="Manage" asp-route-id="@order.OrderId">Edit</a></td>
                <td>
                    <button type="button" class="close delete-item-btn" aria-label="Close">
                        <div class="item-id">@order.OrderId</div>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>