@model ProductViewModel
@{
    ViewBag.Title = User.Identity.Name;
    Layout = "~/Areas/Panel/Views/Shared/_PanelLayout.cshtml";
}
<div class="container-lg pt-3">
    <form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Име на производ</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="form-group">
            <label>SKU</label>
            <input type="text"  class="form-control" asp-for="SKU">
        </div>
        <div class="form-group">
            <label>Упатство за употреба</label>
            <textarea type="text" class="form-control" asp-for="Description" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label>Опис</label>
            <textarea type="text" class="form-control" asp-for="ShortDescription" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label>Редовна Цена</label>
            <input type="text" class="form-control" asp-for="Price">
        </div>
        <div class="form-group">
            <label>Промотивна цена</label>
            <input type="text" class="form-control" asp-for="SalePrice">
        </div>
        <div class="form-group">
            <label>На промоција</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="OnSale" name="OnSale" value="true">
                <label class="custom-control-label" for="OnSale">Set sale status</label>
            </div>
        </div>
        <div class="form-group">
            <label>На залиха</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="InStock" name="InStock" value="true">
                <label class="custom-control-label" for="InStock">На залиха</label>
            </div>
        </div>
        <div class="form-group">
            <label>Категории</label>
            @foreach (var item in Model.GetCategories) {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item" name="Categories[]" value="@item">
                    <label class="custom-control-label" for="@item">@item</label>
                </div>
            }
        </div>
        <div class="form-group">
            <label>Варијации</label>
            @foreach (var item in Model.GetVariations) {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item" name="Variations[]" value="@item">
                    <label class="custom-control-label" for="@item">@item</label>
                </div>
            }
        </div>
        <div class="form-group">
            <label>Спецификација</label>
            <select class="form-control" name="CurrentSpec">
                @foreach (var spec in Model.GetSpecs) {
                    if (spec == Model.CurrentSpec) {
                        <option value="@spec" selected>@spec</option>
                    }
                    else {
                        <option value="@spec">@spec</option>

                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label>Слика</label>
            <input type="file" name="Img" id="Imageinput" asp-for="Img">
        </div>
        <div class="form-group">
            <label for="files">Select files:</label>
            <input type="file" id="files" name="GalleryImages" multiple>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>