@model ProductViewModel

@{
    ViewBag.Title = User.Identity.Name;
}

<div class="container-lg pt-3">
    <div class="img-container">
        <img src="data:image/jpeg;base64,@Model.GetImg">
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Име на производ</label>
            <input type="text" class="form-control" value="@Model.Name" asp-for="Name">
        </div>
        <div class="form-group">
            <label>SKU</label>
            <input type="text" class="form-control" value="@Model.SKU" asp-for="SKU">
        </div>
        <div class="form-group">
            <label>Упатство за употреба</label>
            <input type="text" class="form-control" value="@Model.Description" asp-for="Description">
        </div>
        <div class="form-group">
            <label>Опис</label>
            <input type="text" class="form-control" value="@Model.ShortDescription" asp-for="ShortDescription">
        </div>
        <div class="form-group">
            <label>Редовна Цена</label>
            <input type="text" class="form-control" value="@Model.Price" asp-for="Price">
        </div>
        <div class="form-group">
            <label>Промотивна цена</label>
            <input type="text" class="form-control" value="@Model.SalePrice" asp-for="SalePrice">
        </div>
        <div class="form-group">
            <label>На промоција</label>
            <div class="custom-control custom-checkbox">
                @if (Model.OnSale == "True") {
                    <input type="checkbox" id="OnSale" class="custom-control-input" name="OnSale" value="@Model.OnSale" checked>
                }
                else {
                    <input type="checkbox" id="OnSale" class="custom-control-input" name="OnSale" value="@Model.OnSale">
                }
                <label class="custom-control-label" for="OnSale">На промоција</label>
            </div>
        </div>
        <div class="form-group">
            <label>На залиха</label>
            <div class="custom-control custom-checkbox">
                @if (Model.InStock == "True") {
                    <input type="checkbox" id="InStock" class="custom-control-input" name="InStock" value="@Model.InStock" checked>
                }
                else {
                    <input type="checkbox" id="InStock" class="custom-control-input" name="InStock" value="@Model.InStock">

                }
                <label class="custom-control-label" for="InStock">На залиха</label>
            </div>
        </div>
        <div class="form-group">
            <label>Категории</label>

            @if (Model.GetCategories.Count() > 0) {
                foreach (var itemName in Model.Categories) {
                    if (Model.GetCategories.Contains(itemName)) {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="@itemName" class="custom-control-input" name="Categories[]" value="@itemName" checked>
                            <label class="custom-control-label" for="@itemName">@itemName</label>
                            <br />
                        </div>
                    }
                    else {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="@itemName" class="custom-control-input" name="Categories[]" value="@itemName">
                            <label class="custom-control-label" for="@itemName">@itemName</label>
                            <br />
                        </div>
                    }
                }
            }
            else {
                foreach (var itemName in Model.Categories) {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="@itemName" class="custom-control-input" name="Categories[]" value="@itemName">
                        <label class="custom-control-label" for="@itemName">@itemName</label>
                        <br />
                    </div>
                }
            }


        </div>
        <div class="form-group">
            <label>Варијации</label>
            @foreach (var item in Model.GetVariations) {
                if (Model.CurrentVariations.Contains(item)) {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="@item" name="Variations[]" value="@item" checked>
                        <label class="custom-control-label" for="@item">@item</label>
                    </div>
                }
                else {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="@item" name="Variations[]" value="@item">
                        <label class="custom-control-label" for="@item">@item</label>
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <label>Спецификација</label>
            <select class="form-control" name="CurrentSpec">
                @foreach (var spec in Model.GetSpecs) {
                    if (spec == Model.CurrentSpec) {
                        <option value="@spec" selected>@spec</option>
                    }
                    else {
                        <option value="@spec">@spec</option>

                    }
                }
            </select>
        </div>


        <div class="form-group">
            <label>Слика</label>
            <input type="file" name="Img" id="Imageinput" asp-for="Img">
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </form>
</div>