@model ProductViewModel

<div class="container-lg mt-5">
    <div class="row mb-5">
        <div class="col-6">
            <img src="data:image/png;base64, @Model.Img" alt="Alternate Text" id="product-image" />
        </div>
        <div class="col-6">
            <p class="display-3">@Model.Name</p>
            <hr />
            @if (Model.OnSale) {
                <p>Цена: @Model.SalePrice</p>
            }
            else {
                <p>Цена: @Model.Price</p>
            }
            <p>Опис: @Model.Description</p>
            <p>
                Категории: @foreach (var i in Model.Categories) {
                    <span><a href="#">@i.Name</a></span>
                }
            </p>
            <hr />
            <div class="row align-items-center">
                @if (Model.InStock) {
                    <i class="far fa-check-circle fa-3x pr-3" style="color: green;"></i>
                    <p class="m-0 h4">Производот е на залиха</p>
                }
                else {
                    <i class="fas fa-times fa-3x pr-3" style="color: red;"></i>
                    <p class="m-0 h4">Производот моментално не е на залиха</p>
                }
            </div>
        </div>
    </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="spec-tab" data-toggle="tab" href="#spec" role="tab" aria-controls="spec" aria-selected="true">Spec</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Description</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="spec" role="tabpanel" aria-labelledby="spec-tab">
            <h1>Spec Tab</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Dimensions</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">0.5 kg</th>
                        <td>1 x 2</td>
                        <td>2 yrs</td>
                        <td>random</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
            <h1>description Tab </h1>
        </div>
    </div>


</div>