@model ProductViewModel
@{
    int max = Model.Spec.Rest.Length;
    var max_per_row = Model.Spec.ItemsPerRow;
    var num_of_rows = (Model.Spec.Rest.Length + Model.Spec.First.Length) / max_per_row;
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="data:image/png;base64, @Model.Img" id="item-image" alt="">
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt active" data-imgbigurl="data:image/png;base64, @Model.Img" style="width: 96px;">
                                    <img src="data:image/png;base64, @Model.Img" alt="" />
                                </div>
                                @foreach (var item in Model.GalleryImages) {
                                    <div class="pt " data-imgbigurl="data:image/png;base64, @item" style="width: 96px;">
                                        <img src="data:image/png;base64, @item" alt="" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>@Model.Categories.FirstOrDefault().Name</span>
                                <h3 id="item-name">@Model.Name</h3>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-desc">
                                <p style="white-space: pre-line;">
                                    @Model.ShortDescription
                                </p>
                                @if (Model.OnSale) {
                                    <h4 id="item-price">@Model.SalePrice ден<span>@Model.Price ден</span></h4>
                                }
                                else {
                                    <h4 id="item-price">@Model.Price ден</h4>
                                }
                            </div>
                            <div class="pd-size-choose">
                                @if (Model.Variations.FirstOrDefault().Name == "нема") {

                                    <div class="form-group" style="opacity: 0; pointer-events: none;">
                                        <label for="select-@Model.Variations.FirstOrDefault().Name">Опции</label>
                                        <select class="form-control variation-select" id="select-@Model.Variations.FirstOrDefault().Name">
                                            <option value="нема">нема</option>
                                        </select>
                                    </div>
                                }
                                else {
                                    @foreach (var item in Model.Variations) {
                                        <div class="form-group">
                                            <label for="select-@item.Name">@item.Name</label>
                                            <select class="form-control variation-select" id="select-@item.Name">
                                                @foreach (var option in item.Options) {
                                                    <option value="@option">@option</option>
                                                }

                                            </select>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="number" id="item-quantity" name="quantity" min="1" value="1">
                                </div>
                                <button class="primary-btn pd-cart" id="add-to-cart">Додади во кошничка<span id="item-id" style="display: none;">@Model.ProductId</span></button>
                            </div>
                            <hr />
                            <ul class="pd-tags">
                                <li>
                                    @if (Model.InStock) {
                                        <p><i class="far fa-check-square" style="color: forestgreen;"></i>&nbsp;Производот е на залиха.</p>
                                    }
                                    else {
                                        <p><i class="fas fa-times" style="color: red;"></i>&nbsp;Производот моментално не е на залиха.</p>
                                    }
                                    <br />
                                    <span>КАТЕГОРИИ</span>:
                                    @foreach (var i in Model.Categories) {
                                        <span><a href="~/Store/Base/Index/1?category_id=@i.CategoryId">@i.Name</a></span>
                                    }
                                </li>
                            </ul>
                            <div class="pd-share">
                                <div class="p-code">Sku : @Model.SKU</div>
                                <div class="pd-social">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter-alt"></i></a>
                                    <a href="#"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">УПАТСТВО</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">СПЕЦИФИКАЦИЈА</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h5>Упатство</h5>
                                            <p style="white-space: pre-line;">
                                                @Model.Description
                                            </p>

                                        </div>
                                        <div class="col-lg-5">
                                            <img src="img/product-single/tab-desc.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                @for (int j = 0; j < max_per_row; j++) {
                                                    <td class="p-catagory">@Model.Spec.First[j]</td>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int start = 0;}
                                            @for (int i = 1; i < num_of_rows; i++) {
                                                <tr>
                                                    @for (int k = start; k < (start + max_per_row); k++) {
                                                        <td class="p-catagory">@Model.Spec.Rest[k]</td>
                                                    }
                                                </tr>
                                                start += max_per_row;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
<!-- Related Products Section End -->
<div class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Слични производи</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                int max_related;
                if (Model.RelatedProducts.Length > 4) {
                    max_related = 4;
                }
                else {
                    max_related = Model.RelatedProducts.Length;
                }
            }
            @for (int i = 0; i < max_related; i++) {
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            @{ var img = Convert.ToBase64String(@Model.RelatedProducts[i].Img);}
                            <a asp-area="Store" asp-controller="Product" asp-action="Single" asp-route-id="@Model.RelatedProducts[i].ProductId"><img src="data:image/png;base64, @img" alt=""></a>
                            @if (Model.RelatedProducts[i].OnSale) {
                                <div class="sale">Промоција</div>
                            }
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="quick-view"><a asp-area="Store" asp-controller="Product" asp-action="Single" asp-route-id="@Model.RelatedProducts[i].ProductId">Види <i class="fas fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">@Model.RelatedProducts[i].Categories.FirstOrDefault().Name</div>
                            <a asp-area="Store" asp-controller="Product" asp-action="Single" asp-route-id="@Model.RelatedProducts[i].ProductId">
                                <h5>@Model.RelatedProducts[i].Name</h5>
                            </a>
                            @if (Model.RelatedProducts[i].OnSale) {
                                <div class="product-price">
                                    @Model.RelatedProducts[i].SalePrice ден
                                    <span>@Model.RelatedProducts[i].Price ден</span>
                                </div>
                            }
                            else {
                                <div class="product-price">
                                    @Model.RelatedProducts[i].Price ден
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Related Products Section End -->
