@model StoreViewModel
@{
    var prev = Model.Page_number - 1;
    var next = Model.Page_number + 1;
}
<div id="alert-container">
</div>
<div class="container-lg container-custom">
    <div class="form">
        <div class="form-group row">
            <div class="col">
                <label>Пребарај</label>
                <input class="form-control" type="text" placeholder="Име на производ" id="store-search">
                <ul class="list-group" id="search-suggestions">
                    @*<li class="list-group-item">
                            <div class="row d-flex align-items-center">
                                <p class="m-0">Text</p>
                                <img src="~/img/1.jpg" width="48px" />
                            </div>
                        </li>*@
                </ul>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="form-group row">
            <select class="form-control">
                <option>Опција 1</option>
                <option>Опција 2</option>
                <option>Опција 3</option>
            </select>

        </div>
    </div>
</div>
<div class="container-lg container-custom mt-5 mb">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
            <div class="form categories-box">
                <div class="form-group">
                    <label class="form-check-label" for="exampleCheck1" style="border-bottom: 1px solid black">Филтри</label>
                </div>
                <div class="form-group" style="margin-left: -40px">
                    <label>SKU</label>
                    <input class="form-control" type="text" placeholder="1337-callM3">
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="col-lg-10 col-sm-12">
            <div class="row">
                @*12*@
                @foreach (var product in Model.Products) {

                    <div class="product-single col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <p class="h4">Тиволи - универзална тревна мешавина</p>
                        <div>
                            <hr class="grey-hr" />
                            <div class="image-container mb-4">
                                <div class="discount-circle d-flex justify-content-center align-items-center">
                                    <p class="m-0" style="font-size: 2rem; color:white;">-30%</p>
                                </div>
                                <img class="img-fluid w-100" src="data:image/png;base64, @product.Img" alt="Alternate Text" />
                            </div>
                            <div class="promotion-price-box d-flex justify-content-between pl-3 pr-3">
                                <div class="d-flex align-items-end mt-3">
                                    <p class="mb-0">Промотивна цена:</p>
                                </div>
                                <div class="d-flex align-items-end mt-3">
                                    <p class="h4 mb-0">310</p>
                                    <p class="mb-0">&nbsp;ден</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between pl-3 pr-3">
                                <div class="d-flex align-items-end mt-3">
                                    <p class="mb-0">Цена:</p>
                                </div>
                                <div class="d-flex align-items-end">
                                    <p class="h4 mb-0 mt-3">310</p>
                                    <p class="mb-0 mt-3">&nbsp;ден</p>
                                </div>
                            </div>
                            <hr class="grey-hr mt-1" />
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-check" style="color: green;"></i>
                                    <p class="m-0 pl-2">Залиха</p>
                                </div>
                                <button type="button" class="btn btn-success d-flex justify-content-between align-items-center"><i class="fas fa-shopping-cart pr-2"></i><p class="m-0">Додади</p></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            @if (Model.Page_number < 2) {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            }
            else {
                <li class="page-item">
                    <a class="page-link" href="@prev" tabindex="-1">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.Number_of_pages; i++) {
                if (i == Model.Page_number) {
                    <li class="page-item active">
                        <a class="page-link" asp-controller="Base" asp-action="Index" asp-route-id="@i">@i<span class="sr-only">(current)</span></a>
                    </li>
                }
                else {
                    <li class="page-item"><a class="page-link" asp-controller="Base" asp-action="Index" asp-route-id="@i">@i</a></li>
                }

            }
            @if (Model.Page_number >= Model.Number_of_pages) {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else {
                <li class="page-item">
                    <a class="page-link" href="@next">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>