@model StoreViewModel
@{
    string prev = $"{@Model.BaseURL}/{Model.Page_number - 1}?{@Model.URLParameters}";
    string next = $"{@Model.BaseURL}/{Model.Page_number + 1}?{@Model.URLParameters}";
}
<div id="alert-container">
</div>
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Store</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-4 col-md-5 col-sm-12 order-1 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Категории</h4>
                    <ul class="filter-categories">
                        @{
                            if (Model.Categories == null) {
                                <li><a href="#">Нема категории за прикажување</a></li>
                            }
                            else {
                                foreach (var c in Model.Categories) {
                                    if (c.Name == Model.CurrentCategory) {
                                        <li><a asp-controller="Base" asp-action="Category" asp-route-id="1" asp-route-category_id="@c.CategoryId" id="active-category">@c.Name</a></li>
                                    }
                                    else {
                                        <li><a asp-controller="Base" asp-action="Category" asp-route-id="1" asp-route-category_id="@c.CategoryId">@c.Name</a></li>
                                    }
                                }
                            }
                        }
                    </ul>
                    <button href="#" class="filter-btn">Филтрирај</button>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12 order-2 order-lg-2">
                <div class="product-show-option mb-sm-5 mb-md-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-3 mt-3">
                            <div class="select-option">
                                <select class="sorting">
                                    <option value="price_descending" class="option-one">Подреди по цена</option>
                                    <option value="name_descending" class="option-two">Подреди по име</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3 mt-3">
                            <div class="select-option">
                                <select class="p-show" id="show-product-number">
                                    @switch (@Model.Products_on_page) {
                                        case 12:
                                            <option value="12" class="option-one" selected>Прикажи: 12</option>
                                            <option value="24" class="option-two">Прикажи: 24</option>
                                            <option value="48" class="option-three">Прикажи: 48</option>
                                            break;
                                        case 24:
                                            <option value="12" class="option-one">Прикажи: 12</option>
                                            <option value="24" class="option-two" selected>Прикажи: 24</option>
                                            <option value="48" class="option-three">Прикажи: 48</option>
                                            break;
                                        case 48:
                                            <option value="12" class="option-one">Прикажи: 12</option>
                                            <option value="24" class="option-two">Прикажи: 24</option>
                                            <option value="48" class="option-three" selected>Прикажи: 48</option>
                                            break;
                                        default:
                                            <option value="12" class="option-one">Прикажи: 12</option>
                                            <option value="24" class="option-two" selected>Прикажи: 24</option>
                                            <option value="48" class="option-three">Прикажи: 48</option>
                                            break;

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list pt-sm-3 pt-md-2 pt-lg-0">
                    <div class="row">
                        @foreach (var product in Model.Products) {

                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <a asp-area="Store" asp-controller="Product" asp-action="Single" asp-route-id="@product.ProductId"><img src="data:image/png;base64, @product.Img" alt=""></a>
                                        @if (product.OnSale) {
                                             
                                            double temp_number = ((double)product.SalePrice - (double)product.Price) / (double)product.Price;
                                            double discount = Math.Round(temp_number * 100, 0);
                                            
                                            <p class="m-0"></p>
                                            <div class="sale pp-sale">ПОПУСТ @discount%</div>
                                        }
                                        <div class="icon">
                                            @*<i class="icon_heart_alt"></i>*@
                                        </div>
                                        <ul>
                                            <li class="quick-view"><a asp-area="Store" asp-controller="Product" asp-action="Single" asp-route-id="@product.ProductId">Види <i class="fas fa-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">@product.Categories.FirstOrDefault().Name</div>
                                        <a asp-area="Store" asp-controller="Product" asp-action="Single" asp-route-id="@product.ProductId">
                                            <h5>@product.Name</h5>
                                        </a>
                                        @if (product.OnSale) {
                                            <div class="product-price">
                                                @product.SalePrice ден
                                                <span>@product.Price ден</span>
                                            </div>
                                        }
                                        else {
                                            <div class="product-price">
                                                @product.Price ден
                                            </div>
                                        }
                                        <div class="grey-line"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav aria-label="...">
                <ul class="pagination">
                    @if (Model.Page_number < 2) {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Претходна</a>
                        </li>
                    }
                    else {
                        <li class="page-item">
                            <a class="page-link" href="@prev" tabindex="-1">Претходна</a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.Number_of_pages; i++) {
                        if (i == Model.Page_number) {
                            <li class="page-item active">
                                <a class="page-link" href="@Model.BaseURL/@i?@Model.URLParameters">@i<span class="sr-only">(current)</span></a>
                            </li>
                        }
                        else {
                            <li class="page-item"><a class="page-link" href="@Model.BaseURL/@i?@Model.URLParameters">@i</a></li>
                        }

                    }
                    @if (Model.Page_number >= Model.Number_of_pages) {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Следна</a>
                        </li>
                    }
                    else {
                        <li class="page-item">
                            <a class="page-link" href="@next">Следна</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->